// Define variables for your color scheme

// For example:
// Brand colors
$red: #FF686B;
$green: #6BCB77;
$yellow: #FFD93B;
$gray: #2D2D2D;
$light-gray: #FFFDFB;

// Supporting colors
$blue: #5B6CFF;
$orange: #FF9F1C;
